main ul {
    margin-top: 4rem;
}
main li {
    padding: 3rem;
}
main li img {
    width: 30%;
    height: 20rem;
    margin: 0;
}

main li h4 {
    margin-bottom: 2.2rem;
}

h4 a {
    color: #7F0000;
    font-size: 3rem;
    text-decoration: underline;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: .4rem solid transparent;
    border-radius: .4rem;
    padding: 0 .5rem;
}

h4 a:hover {
    color: #000;
    border: .4rem solid #7F0000;
}

.central {
    margin-top: 1rem;
    padding-bottom: 1rem;
    width: 70%;
    float: left;
    padding-left: 2rem;
}

.central p {
    margin-left: .8rem;
}

hr {
    margin-top: 2.25rem;
}