header {
    height: 24rem;
    background: none;
}

body {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, rgba(0, 0, 0, 0.6)), color-stop(95%, rgba(0, 0, 0, 1))), url(img/main.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.6) 90%, rgba(0, 0, 0, 1) 95%), url(img/main.jpg);
}

main {
    background: none;
}